<div id="home-sidebar" class="col-lg-3">

  <h1 class="my-4"><%= t('app.name') %></h1>

  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to "#{category.description} (#{category.ads_count})",
                  site_category_path(category), class: "list-group-item" %>
    <% end %>
  </div>

</div>
<!-- /.col-lg-3 -->
