<!-- Page Content -->
<div class="container">

    <div class="row">

        <%= render partial: 'site/shared/sidebar' %>

        <div id="home-detail" class="col-lg-9">

          <%= render partial: 'site/shared/carousel' %>

            <div class="row">

              <%= render partial: 'site/shared/ads' %>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
